.cover__subtitle {
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  width: min-content;
  color: #fff;
  font-weight: normal;
}

@media screen and (min-width: 1280px) {
}
@media screen and (max-width: 1024px) {
}
@media screen and (max-width: 768px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
  }
}
@media screen and (max-width: 320px) {
}
