.place__website {
  grid-area: url;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

@media screen and (min-width: 1280px) {
}
@media screen and (max-width: 1024px) {
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 320px) {
}
